<tr>
  <td><%= link_to_small_edit 'Edit', edit_document_path(document) %></td>
  <td><%= link_to_small_destroy 'Delete', document, :confirm => 'Are you sure?', :method => :delete %></td>
  <td>pdf</td>
  <td><%= link_to paper.name, paper %></td>
</tr>

