<div class="right_sidebar">
<h1>Navigation</h1>
<ul>
  <li><%= link_to_unless_current "Home", root_path %></li>
  <li><%= link_to_unless_current "Papers", papers_path %></li>
  <li><%= link_to_unless_current "Terms", terms_path %></li>
</ul>
</div>

